@use '../abstracts/variables';
@use '../layouts/breakpoints';

sl-nav-mobile{
    // padding: variables.$xs-padding;
    padding-left: 10px;
    padding-right: 10px;
    background-color: variables.$sl-white;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo{
        img{
            height: 40px;
            width: auto;
        }        
    }
    .links{
        img{
            height: 40px;
            width: auto;
        }
    }
}

sl-nav-dropdown{
    display: none; // added for JavaScript to toggle

    position: fixed;
    top: 68px;
    left: 0;
    width: 100vw;
    border: none;
    background-color: variables.$sl-white;
    padding-top: 15px;
    padding-bottom: 15px;
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        row-gap: 15px;
        justify-content: center;
        align-items: center;
    }
}

@include breakpoints.sm-breakpoint{
    sl-nav-mobile{
        // background-color: pink;
        padding-left: 60px;
        padding-right: 60px;

    }
}

@include breakpoints.md-breakpoint{
    sl-nav-mobile{
        // background-color: lightgreen;
        padding-left: 115px;
        padding-right: 115px;
    }
}

@include breakpoints.lg-breakpoint{
    sl-nav-mobile{
        display: none;
    }
    sl-nav-dropdown{
        display: none;
    }
}

@include breakpoints.xl-breakpoint{
    sl-nav-mobile{
        display: none;
    }
    sl-nav-dropdown{
        display: none;
    }
}

@include breakpoints.xxl-breakpoint{
    sl-nav-mobile{
        display: none;
    }
    sl-nav-dropdown{
        display: none;
    }
}